<%= form_for [@ticker, @comment] do |f| %>

<br />
<div class="description">
  <%= f.label :comment %>
  <%= f.text_area :description, size: "40x10" %>
</div>
<div class="rating">
  <%= f.submit  "Submit"%>
</div>
<% end %>
